<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
</head>
<body>
    <h1>Fruits show page</h1>
    The <%= fruit.name %> is <%= fruit.color %>.
    <% if(fruit.readyToEat === true){ %>
        It is ready to eat.
    <% }else { %>
        Its not ready to eat.
    <% } %>
    <nav>
        <a href="/">
            Back to Home Page
        </a>
    </nav>
</body>
</html>